:root {
  --main-title-color: #ffffff;
  --secondary-title-color: #2f303a;
  --third-title-color: #f5f4fa;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --third-text-color:#000000;
  --accent-color: #2196f3;
  --main-font-size: 16px;
  --secondary-font-size: 14px;
  --third-font-size: 26px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-title-color);
  color: var(--main-text-color);
  letter-spacing: 0.03em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* hero */

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-top: 200px;
  padding-left: 250px;
  padding-right:250px;
  margin-bottom: 30px;
  text-align: center;
}

.hero {
  background-color: var(--secondary-title-color);
  color: var(--main-title-color);
  padding-bottom: 94px;
}

.hero-button {
  font-weight: 700;
  font-size: var(--main-font-size);
  background-color: var(--accent-color);
  color: var(--main-title-color);
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  height: 50px;
  weight: 200px;
  margin-bottom: 200px;
  margin-left: 500px;
  margin-right: 500px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* section */

.header-container {
  display: flex;
  align-items: center;
}

.logo-web {
  text-decoration: none;
  color: var(--third-text-color);
}

.logo,
.logo-portfolio {
  font-family: 'Raleway', sans-serif;
  font-size: var(--third-font-size);
  text-decoration: none;
  line-height: 1.19;
  color: var(--accent-color);
    /* identical to box height */
  letter-spacing: 0.03em;
}

.logo {
  margin-right: 100px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.nav-site {
  padding-top: 29px;
  padding-bottom: 35px;
}

.header {
  padding-top: 32px;
  padding-bottom: 32px;

}

.logo-portfolio {
  margin-right: 93px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  font-size: 36px;
  line-height: 1.71;
  margin-bottom: 50px;
  padding-left: 400px;
  padding-right: 400px;
}

.work-title {
  font-size: var(--secondary-font-size);
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.work-text {
  font-size: var(--secondary-font-size);
  line-height: 1.71;
}

.team-title {
  font-weight: 500;
  font-size: var(--main-font-size);
  line-height: 1.19;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-text {
  font-size: var(--main-font-size);
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team {
  background-color: var(--third-title-color);
}

.team-item {
  width: 270px;
  height: 368px;
  border: ;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-text,
.work-text,
.portfolio-text {
  color: var(--secondary-text-color);
}

.list {
  list-style: none;
}

.nav-site,
.portfolio-nav,
.header,
.section-work,
.section-image,
.team,
.portfolio-filter,
.portfolio {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-connect {
  margin-left: auto;
}

.menu-item:not(:last-child),
.connect-item:not(:last-child) {
  margin-right: 50px;
}

.work-item:not(:last-child),
.image-item:not(:last-child),
.team-item:not(:last-child) {
  margin-right: 30px;
}

a.site-nav.link,
a.portfolio-nav.link {
  color: var(--accent-color);
}

.link {
  font-weight: 500;
  font-size: var(--secondary-font-size);
  color: var(--main-text-color);
  text-decoration: none;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-link {
  font-weight: 500;
  color: var(--secondary-text-color);
  line-height: 1.14;
}

.address-link {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
}

.address-map {
  font-weight: 400;
  color: var(--main-title-color);
  line-height: 1.71;
}

.header-link,
.address-link,
.address-map {
  font-size: var(--secondary-font-size);
  font-style: normal;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus,
.address-map:hover,
.address-map:focus,
.address-link:hover,
.address-link:focus,
.nav-site .link:hover,
.nav-site .link:focus,
.portfolio-nav .link:hover,
.portfolio-nav .link:focus {
  color: var(--accent-color);
}

/* footer */

footer {
  background-color: var(--secondary-title-color);
  padding-top: 50px;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-size: var(--third-font-size);
  color: var(--accent-color);
  text-decoration: none;
}

.footer-web {
  color: var(--main-title-color);
}

.address-map a {
  color: var(--main-title-color);
}

.footer-address {
  padding-top: 20px;
  padding-bottom: 60px;
}

.address-link,
.address-map {
  padding-bottom: 9px;
}

/* portfolio */

a.portfolio-list.link {
  color: var(--accent-color);
}

button.portfolio-button.active {
  color: var(--main-title-color);
  background-color: var(--accent-color)
}

.portfolio-button {
  font-weight: 500;
  font-size: var(--main-font-size);
  background-color: var(--third-title-color);
  line-height: 1.6;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  border: var(--third-title-color);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--main-title-color);
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding: 20px 24px 20px 24px;
}

.portfolio-text {
  font-size: var(--main-font-size);
  line-height: 1.88;
  padding: 20px 24px 20px 24px;
}

.portfolio {
  flex-wrap: wrap;
}

.portfolio-filter {
  padding-left: 295px;
  padding-bottom: 34px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-item:not(:last-child) {
  margin-bottom: 30px;
}

.portfolio-item {
  margin-right: 30px;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-nav {
  padding-top: 32px;
  padding-bottom: 32px;
}

.portfolio-card {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  border-top: 110px;
}